{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="text-align:center;">About <span style="color:blue;">Us</span></h1>
    <div style="display:flex; padding-left:600px;"><div style="height:3px; width:10px; background:black;"></div><div style="height:3px; width:100px; background:blue; border-radius:2px;"></div></div>
    <p style="font-size:21px; text-align:center;">There are multiple reason to choose us for multiple reason.Believe me<br/> you will find us best suitable.</p>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10" style="background:white; margin-left:20px;">
    <h3 style="margin-top:15px;">Introduction :--</h3>
    <div style="background:green;height:4px;width:140px;"></div>
<ul style="font-size:22px; margin:20px;">
    <li style="padding-top:13px;">Expert in carrying out the planning and management of the NGO programs.</li>
    <li style="padding-top:10px;">Excellent in designing and executing the campaign model for different initiatives keeping the overall principles of the NGO are not compromised.</li>
    <li style="padding-top:10px;">Proven track record of raising fund for the NGO even in tough times and successfully carrying out the activities.</li>
    <li style="padding-top:10px;">Organized and participated in various social awareness camps and ensured a great level of participation.</li>
    <li style="padding-top:10px;">Donor management both individuals as well a corporate organizations and providing them regular updates of the NGO activities.</li>
    <li style="padding-top:10px;padding-bottom:5px;">Excellent in communication and team working skills with ability to drive through challenges and work towards successful accomplishment of NGO objectives.</li>
</ul>
<h3 style="">Providing some <span style="color:blue;">special facilities:-</span></h3>
    <div style="background:green;height:4px;width:250px;"></div>
<ul style="font-size:22px;width:1900px;margin:20px;">
    <li style="padding-top:13px;">Maintain the quality and hygiene. </li>
    <li style="padding-top:10px;">Get regular feedbacks and follow-ups.</li>
    <li style="padding-top:10px; padding-bottom:10px;">Serve special meal on special days</li>
</ul>
    <h4 style="margin-left:35px;margin-bottom:20px;">To know more about our foundation <a href="/user/contactus/" style="text-decoration:none;font-weight:bold;color:blue;">Contact</a> Us.</h4>
</div>
    <div class="col-sm-1"></div>
</div>


<div class="row newproduct py-3">



     <div class="text-center"><u></u><h1>ABOUT OUR <b style="color:red;">CARECLUB</b> </h1></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10 offer my-5 bg-light p-5" >
            <div class="row">
                <div class="col-sm-4">
                    <div class="fs-2" STYLE="color:blue;">What We Do</div>
                    <p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actually teachings of the great explorer of the truth.</p>


                    <div class="fs-2 mt-3" style="color:blue;">How It Works</div>
                    <p> Who loves or pursues or desires to obtain pain of itself, because it is pain, because occasionally circumstances occur which toil and pain can procure him some great pleasure.</p>
                    <p>When you give to Our humanity, you know your donation is making a difference. Whether you are supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff works hard every day to ensure every dollar has impact for the cause of your choice.</p>

                </div>
                <div class="col-sm-4">
                    <center>
                        <img src="{% static 'images/8.jpg'%}" style="min-width:180px; min-height:200px;" class="img-fluid"/>
                         <img src="{% static 'images/9.jpg'%}" style="min-width:180px; min-height:200px" class="img-fluid"/>
                        </center>
                </div>
                <div class="col-sm-4">

                    <div class="fs-2" style="color:red;">Years of Experience</div>
                    <p>We partner with over 320 amazing projects worldwide, and have given over $150 million in cash and product grants to other groups since 2011. We also operate our own dynamic suite of Signature Programs.</p>

                    <div class="fs-2 mt-3"></div>
                    <i class="fa fa-hand-o-right" style="color:red">This mistaken idea of denouncing pleasure</i>
                    <i class="fa fa-hand-o-right" style="color:red">Master-builder of human happiness</i>
                    <i class="fa fa-hand-o-right" style="color:red">Occasionally circumstances occur in toil</i>
                    <i class="fa fa-hand-o-right" style="color:red">Undertakes laborious physical exercise</i>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

    </div>
{% endblock %}